.BgFooterHeader{
    background-color: #790000cf;
}

.SectionFooter{
    text-align: center;
    color: white;
}


.navbar-nav .active{
    border-bottom: 1px solid white;
    transition: 1s;
    
}

.navBarBrandLogo a{
    text-decoration: none !important;
    color: white !important;
}